.dropdown-menu {
  display: inline-block;
  position: relative;


  &:hover .dropdown-menu__content {
    display: block;
  }

  &_opened {
    opacity: 1;
  }

  &_closed {
    pointer-events: none;
  }

  &_opened .dropdown-menu__content {
    display: block;
  }

  &_opened .dropdown-menu__trigger {
    box-shadow: 2px 2px var(--shadow-color) inset;
    background-color: var(--hover-color);
  }

  &__trigger {
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &__content {
    position: fixed;
    border-top: 1px solid var(--shadow-color);
    border-left: 1px solid var(--shadow-color);
    display: none;
    width: 260px;
    max-width: 100%;
    box-shadow: 2px 2px 2px var(--shadow-color);
    border-radius: 4px;
    z-index: 100;
  }
}

