.menu {
  position: relative;
  background-color: white;
  z-index: 100;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: var(--transition-delay);
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      font-size: 14px;
    }

    &:active {
      font-size: 16px;
      background-color: var(--light-grey);
    }
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    padding-left: 10px
  }
}
